<label for="main_notes_box"><Notes></Notes></label>
<textarea id="main_notes_box" placeholder="Jot down some notes here" rows="20" cols="120"></textarea>

<div id="submission_holder">
  <button id="notes_submit_button" type="button"><%= %></button>
</div>