<p style="color: green"><%= notice %></p>

<h1>Meetings</h1>

<div id="meetings">
  <% @meetings.each do |meeting| %>
    <% if meeting.user == current_user %>
      <%= render meeting %>
      <p>
        <%= link_to "Show this meeting", meeting %>
      </p>
      <%else %>
    <% end %>
  <% end %>
</div>

<%= link_to "New meeting", new_meeting_path %>
